.logo {
  text-align: center;
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo span {
  font-size: 24px;
  padding-left: 5px;
}

.footer {
  text-align: center;
}

.register {
  float: right !important;
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a {
  display: inline-block !important;
}